In [23]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cars-formated/cars_formated.csv

In [24]:
# uploading dataset
db_source = '/kaggle/input/cars-formated/cars_formated.csv'
# puting data base to the 
cars_formated = pd.read_csv(db_source, index_col = 'Unnamed: 0')

In [25]:
cars_formated

,year,make,model,body,transmission,vin,condition,odometer,color,sellingprice
0,2015,kia,sorento,suv,automatic,5xyktca69fg566472,5.0,16639.0,white,21500.0
1,2015,kia,sorento,suv,automatic,5xyktca69fg561319,5.0,9393.0,white,21500.0
2,2014,bmw,3 series,sedan,automatic,wba3c1c51ek116351,45.0,1331.0,gray,30000.0
3,2015,volvo,s60,sedan,automatic,yv1612tb4f1310987,41.0,14282.0,white,27750.0
4,2014,bmw,6 series gran coupe,sedan,automatic,wba6b2c57ed129731,43.0,2641.0,gray,67000.0
...,...,...,...,...,...,...,...,...,...,...
558832,2015,kia,k900,sedan,automatic,knalw4d4xf6019304,45.0,18255.0,silver,33000.0
558833,2012,ram,2500,crew cab,automatic,3c6td5et6cg112407,5.0,54393.0,white,30800.0
558834,2012,bmw,x5,suv,automatic,5uxzw0c58cl668465,48.0,50561.0,black,34000.0
558835,2015,nissan,altima,sedan,automatic,1n4al3ap0fc216050,38.0,16658.0,white,11100.0
558836,2014,ford,f-150,supercrew,automatic,1ftfw1et2eke87277,34.0,15008.0,gray,26700.0

In [26]:
# choosing most value columns from the data base
columns_choosen = cars_formated.columns
columns_choosen = columns_choosen.drop('vin')

In [27]:
cars_formated.dtypes

year              int64
make             object
model            object
body             object
transmission     object
vin              object
condition       float64
odometer        float64
color            object
sellingprice    float64
dtype: object

In [28]:
one_hot_encoded_db = pd.get_dummies(cars_formated[columns_choosen])

one_hot_encoded_db

,year,condition,odometer,sellingprice,make_acura,make_aston martin,make_audi,make_bentley,make_bmw,make_buick,...,color_lime,color_off-white,color_orange,color_pink,color_purple,color_red,color_silver,color_turquoise,color_white,color_yellow
0,2015,5.0,16639.0,21500.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,2015,5.0,9393.0,21500.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,2014,45.0,1331.0,30000.0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,2015,41.0,14282.0,27750.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,2014,43.0,2641.0,67000.0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,45.0,18255.0,33000.0,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
558833,2012,5.0,54393.0,30800.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
558834,2012,48.0,50561.0,34000.0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
558835,2015,38.0,16658.0,11100.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
558836,2014,34.0,15008.0,26700.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
features = one_hot_encoded_db.columns
# spliting to feature data base
# X = cars_formated[features]
features.drop('sellingprice')
features

Index(['year', 'condition', 'odometer', 'sellingprice', 'make_acura',
       'make_aston martin', 'make_audi', 'make_bentley', 'make_bmw',
       'make_buick',
       ...
       'color_lime', 'color_off-white', 'color_orange', 'color_pink',
       'color_purple', 'color_red', 'color_silver', 'color_turquoise',
       'color_white', 'color_yellow'],
      dtype='object', length=893)

In [34]:
# spliting to label
y = one_hot_encoded_db['sellingprice']
y

0         21500.0
1         21500.0
2         30000.0
3         27750.0
4         67000.0
           ...
558832    33000.0
558833    30800.0
558834    34000.0
558835    11100.0
558836    26700.0
Name: sellingprice, Length: 510005, dtype: float64